body {
    color: white;
    background-color:rgba(79, 128, 219, 0.836);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .header-1 {
    background-color: rgb(111, 111, 170);
    height: 150px;
    color: blanchedalmond;
    width: 80%;
    margin: auto;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-radius: 10px;
  }
  
  .header-1 table {
    padding-top: 100px;
  }
  .header-1 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 10px;
    border: 20px;
    border-radius: 3px;
  }
  .header-1 a:hover {
    background-color: aqua;
    color: black;
  }
  .header-1 a:active {
    color: red;
  }
  .header-1 a:visited {
    color: ;
  }
  
  .content {
    height: auto;
    width: 70%;
    background-color: white;
    margin: auto;
  }
  
  .content h1 {
    text-align: center;
    color: cyan;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .content p {
    text-align: center;
    font-style: italic;
    color: black;
  }
  .content ul li{
    list-style: circle;
    front-size 30px 
  }
  .p1{
    font-size: 30px;
  }